* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}
body {
  min-height: 100%;
  display: grid;
  place-items: center;
  align-content: center;
}

main {
  margin: 0 auto;
  max-width: 1340px;
  width: 100%;
}

.button {
  background-color: #901c1c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 22px 36px;
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
}
.button:hover {
  background-color: #db8876;
  color: black;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photographer-header {
  background-color: #fafafa;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  border: none;
}
.photographer-header .ph-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 60px 50px;
}
.photographer-header .ph-info #ph-Name {
  margin-left: 16px;
  font-size: 4rem;
  color: #db8876;
  font-weight: 600;
}
.photographer-header .ph-info #ph-City {
  padding: 20px 0;
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
}
.photographer-header .ph-info #ph-Tagline {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
}
.photographer-header .ph-photo-div {
  margin: 60px 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.photographer-header .ph-photo-div img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}
